<a href="https://colab.research.google.com/github/lgregs/TCC-CD-USP/blob/main/TCC_USP_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/balancos.csv')

In [4]:
df

,id_empresa,empresa,ano,Desc,Yıllık,9 Aylık,6 Aylık,3 Aylık
0,6,SAHOL,2013,Dönen Varlıklar,1.051343e+11,1.035133e+11,9.385025e+10,9.069027e+10
1,6,SAHOL,2013,Nakit ve Nakit Benzerleri,5.566531e+09,7.556368e+09,6.758761e+09,8.811850e+09
2,6,SAHOL,2013,Finansal Yatırımlar,1.699315e+10,1.251304e+10,1.304584e+10,7.141221e+09
3,6,SAHOL,2013,Ticari Alacaklar,1.211220e+09,1.406831e+09,1.276791e+09,1.094996e+09
4,6,SAHOL,2013,Finans Sektörü Faaliyetlerinden Alacaklar,5.941694e+10,5.886337e+10,5.458826e+10,5.347631e+10
...,...,...,...,...,...,...,...,...
22307,8,THYAO,2015,Diğer Nakit Girişi/Çıkışı,NaN,NaN,0.000000e+00,0.000000e+00
22308,8,THYAO,2015,Nakit ve Benzerlerindeki Değişim,NaN,NaN,1.179000e+09,-3.400000e+07
22309,8,THYAO,2015,Diğer Nakit ve Nakit Benzerlerindeki Artış,NaN,NaN,0.000000e+00,0.000000e+00
22310,8,THYAO,2015,Dönem Başı Nakit Değerler,NaN,NaN,1.474000e+09,1.474000e+09
22311,8,THYAO,2015,Dönem Sonu Nakit,NaN,NaN,2.653000e+09,1.440000e+09

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22312 entries, 0 to 22311
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_empresa  22312 non-null  int64
 1   empresa     22312 non-null  object
 2   ano         22312 non-null  int64
 3   Desc        22312 non-null  object
 4   Yıllık      21895 non-null  float64
 5   9 Aylık     21707 non-null  float64
 6   6 Aylık     21711 non-null  float64
 7   3 Aylık     21937 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ MB

In [5]:
df['id_empresa'].unique()

array([ 6,  8, 10,  9,  2,  7,  3,  5,  4,  1])

In [6]:
df['empresa'].unique()

array(['SAHOL', 'THYAO', 'TUPRS', 'TOASO', 'BIMAS', 'SISE', 'EREGL',
       'KCHOL', 'FROTO', 'ARCLK'], dtype=object)

In [10]:
df = df.rename(columns={
    'Yıllık': 'Anual',
    '9 Aylık': '9 Meses',
    '6 Aylık': '6 Meses',
    '3 Aylık': '3 Meses'
})
print(df.columns)

Index(['id_empresa', 'empresa', 'ano', 'Desc', 'Anual', '9 Meses', '6 Meses',
       '3 Meses'],
      dtype='object')

In [11]:
df.head()

,id_empresa,empresa,ano,Desc,Anual,9 Meses,6 Meses,3 Meses
0,6,SAHOL,2013,Dönen Varlıklar,1.051343e+11,1.035133e+11,9.385025e+10,9.069027e+10
1,6,SAHOL,2013,Nakit ve Nakit Benzerleri,5.566531e+09,7.556368e+09,6.758761e+09,8.811850e+09
2,6,SAHOL,2013,Finansal Yatırımlar,1.699315e+10,1.251304e+10,1.304584e+10,7.141221e+09
3,6,SAHOL,2013,Ticari Alacaklar,1.211220e+09,1.406831e+09,1.276791e+09,1.094996e+09
4,6,SAHOL,2013,Finans Sektörü Faaliyetlerinden Alacaklar,5.941694e+10,5.886337e+10,5.458826e+10,5.347631e+10

In [12]:
df.isnull().sum()

id_empresa      0
empresa         0
ano             0
Desc            0
Anual         417
9 Meses       605
6 Meses       601
3 Meses       375
dtype: int64

In [13]:
valores_nulos_por_empresa = df.groupby('empresa').apply(lambda x: x.isnull().sum())
print(valores_nulos_por_empresa)

         id_empresa  empresa  ano  Desc  Anual  9 Meses  6 Meses  3 Meses
empresa
ARCLK             0        0    0     0     37      115       37       29
BIMAS             0        0    0     0      0        0        0        0
EREGL             0        0    0     0     95      107      107       37
FROTO             0        0    0     0     58       62       62       31
KCHOL             0        0    0     0      0       29      107       60
SAHOL             0        0    0     0    103      107      107        0
SISE              0        0    0     0      0        0        0        0
THYAO             0        0    0     0     87       29       62       62
TOASO             0        0    0     0     37      115       78      115
TUPRS             0        0    0     0      0       41       41       41

<ipython-input-13-127b6645d86c>:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  valores_nulos_por_empresa = df.groupby('empresa').apply(lambda x: x.isnull().sum())

In [14]:
df_bimas_sise = df[df['empresa'].isin(['BIMAS', 'SISE'])]
df_bimas_sise

,id_empresa,empresa,ano,Desc,Anual,9 Meses,6 Meses,3 Meses
727,2,BIMAS,2023,Dönen Varlıklar,7.862717e+10,5.166231e+10,3.934852e+10,3.597851e+10
728,2,BIMAS,2023,Nakit ve Nakit Benzerleri,5.207428e+09,3.260750e+09,3.981304e+09,1.715237e+09
729,2,BIMAS,2023,Finansal Yatırımlar,4.882233e+09,7.074503e+09,2.568571e+09,2.315757e+09
730,2,BIMAS,2023,Ticari Alacaklar,2.328112e+10,1.383328e+10,9.858560e+09,9.012603e+09
731,2,BIMAS,2023,Finans Sektörü Faaliyetlerinden Alacaklar,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...
18735,7,SISE,2021,Diğer Nakit Girişi/Çıkışı,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
18736,7,SISE,2021,Nakit ve Benzerlerindeki Değişim,3.434420e+09,3.016108e+09,1.872334e+09,1.119578e+09
18737,7,SISE,2021,Diğer Nakit ve Nakit Benzerlerindeki Artış,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
18738,7,SISE,2021,Dönem Başı Nakit Değerler,9.384819e+09,9.384819e+09,9.384819e+09,9.384819e+09
18739,7,SISE,2021,Dönem Sonu Nakit,1.281924e+10,1.240093e+10,1.125715e+10,1.050440e+10

In [15]:
df_bimas_sise.isnull().sum()

id_empresa    0
empresa       0
ano           0
Desc          0
Anual         0
9 Meses       0
6 Meses       0
3 Meses       0
dtype: int64

In [17]:
antigo = df_bimas_sise['ano'].min()
recente = df_bimas_sise['ano'].max()

print(f"Dados mais antigos: {antigo}")
print(f"Dados mais recentes: {recente}")

Dados mais antigos: 2008
Dados mais recentes: 2024